<div class="data-form" id="editEmployee">

    <form class="form-signin" method="POST" action="<%=`/employees/${employees._id}/update?_method=PUT`%>">

        <h2>Edit employee:</h2>

        <label id="employeeName" for="inputname"><b>Name</b></label>
        <input class="form-control" type="text" name="name" id="inputName" value="<%= employee.name %>" placeholder="Full name" autofocus>

        <label id="employeeEmail" for="inputEmail"><b>Email</b></label>
        <input class="form-control" type="text" name="email" id="inputEmail" value="<%= employee.email %>" placeholder="Email" autofocus>

        <label id="employeeDepartment" for="inputDepartment"><b>Working department</b></label>
        <input class="form-control" type="text" name="department" id="inputDepartment" value="<%= employee.department %>" placeholder="Department" autofocus>

        <br /><button class="btn btn-lg btn-primary btn-block" type="submit">Update</button>

    </form>

</div>