<h2>Employees table</h2>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Department</th>
        </tr>
    </thead>

    <tbody>
        <% employees.forEach(employee => { %>
        <tr>
            <td>
                <a href="<%= `/employees/${employee._id}` %>">
                <%= employee.fullName %>
                </a>
            </td>

            <td><%= employee.email %></td>
            <td><%= employee.department %></td>
        </tr>
        <% }); %>
    </tbody>
</table>