<div id="employeesTable">
<h2>Employees table</h2>
<table class="table">
    <thead>
        <tr>
            <th><p id="tableName">Name</p></th>
            <th><p id="tableEmail">Email</p></th>
            <th><p id="tableDepartment">Department</p></th>
        </tr>
    </thead>
</div>

    <tbody>
        <% employees.forEach(employee => { %>
        <tr>
            <td>
                <a href="<%= `/employees/${employee._id}` %>">
                <%= employee.fullName %>
                </a>
            </td>

            <td><%= employee.email %></td>
            <td><%= employee.department %></td>
        </tr>
        <% }); %>
    </tbody>
</table>