<div class="data-form">
    <form action="/employees/create" method="POST">
        <h2>Create a new employee:</h2>
        <label for="inputname">Name</label>
        <input type="text" name="last" id="inputname" placeholder="Last" autofocus>
        <label for="inputEmail">Email</label>
        <input type="text" name="email" id="inputEmail" placeholder="Email" autofocus>
        <label for="inputDepartment">Working department</label>
        <input type="text" name="department" id="inputDepartment" placeholder="Department" autofocus>
        <br /><button class="btn btn-lg btn-primary btn-block" type="submit">Create</button>
    </form>
</div>