<h1>Employee data for <%= employee.fullName %></h1>
<table class="table">
    <tr>
        <th>Name</th>
        <td><%= employee.fullName %></td>
    </tr>
    <tr>
        <th>Email</th>
        <td><%= employee.email %></td>
    </tr>
    <tr>
        <th>Department</th>
        <td><%= employee.department %></td>
    </tr>
</table>