<div id="nav" class="block">
    <p>
        <a href="http://localhost:3000/index">Home</a>
        <a href="http://localhost:3000/contact">Contact</a>
        <a href="http://localhost:3000/employees">Employees</a>
        <a class="log-out" href="/logout">Log out</a>
    </p>
</div>