<%- include('partials/navigation.ejs') %>
    <br><br>
    <% employees.forEach(s => { %>
        <p>Name:
            <%= s.name %>
        </p>
        <p>Email:
            <%= s.email %>
        </p>
        <br><br>
        <% }); %>