<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>App</title>
  <link rel="stylesheet" href="/public/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Archivo+Black|Judson:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
</head>

<body>
  <%- include('partials/header.ejs') %>
  <%- body %>
  <%- include('partials/footer.ejs') %>
</body>

</html>