<h2>Login</h2>
<form action="/" method="POST">
    <label for="inputEmail"><b>Email address</b></label><br>
    <input type="email" name="email" id="inputEmail" placeholder="Email address" required><br>
    <label for="inputPassword"><b>Password</b></label><br>
    <input type="password" name="password" id="inputPassword" placeholder="Password" required><br>
    <button type="submit">Login</button>
</form>