body{
    background-color: white;
 }

 h1 {
     color: black;
     
 }

 h2 {
    color: rgb(238, 16, 16);
    
}

 p {
     color:black;
 }

 title {
     color:black;
     text-align: center;
 }

 .form-submit-button {
    background:#0066A2;
    color:white;
    border-style:outset;
    border-color:#0066A2;
    height:50px;
    width:100px;
    font:bold15px arial,sans-serif;
    text-shadow:none;
}

#header {
    background-color: white;  
}

#footer {
    background-color: white;
  }